.playerIcon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: gray;
}

.playerStatusCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.cardList::after {
    content: '';
    background-color: silver;
    display: block;
    height: 5px;
    width: 150px;
}

.playerNum {
    text-align: center;
}

.cardList {
    padding: 10px;
}

.playerStatusCardContainer:before{
    content: "hello";
    background: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
    filter: blur(12px);
    margin: -250px;
    z-index: -1;
    position: relative;
    height: 350px;
    width: 150px;
}