.playerIcon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: gray;
}

.playerStatusCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.cardList::after {
    content: '';
    background-color: silver;
    display: block;
    height: 5px;
    width: 150px;
}

.playerNum {
    text-align: center;
}

.cardList {
    padding: 10px;
}

.playerStatusCardContainer:before{
    content: "";
    background: inherit;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
    /* box-shadow: inset 0 0 2000px rgb(33, 148, 255); */
    border-bottom: 12px solid black;
    border-left: 6px solid black;
    border-right: 18px solid black;
    border-top: 3px solid black;
    filter: blur(5px);
    margin: -300px;
    z-index: -1;
    position: relative;
    height: 350px;
    width: 200=px;
}
.playerStatusCardContainer > *{
    transform: rotate(-70deg);
    margin: -8px;
    padding-top: 15px;
    padding-bottom: 5px;
    transition: .1s cubic-bezier(0.295, 0.13, 0.685, 0.22);
}

.playerStatusCardContainer:hover >* {
    transform: rotate(0deg);
    filter: blur(0px);
    cursor: pointer;
}

.playerStatusCardContainer >*{
    filter: blur(4px);
}

.playerStatusCardContainer:hover.playerStatusCardContainer:before{
    filter: blur(0px);
    width: 200px;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-left: 2px solid black;
    border-right: 8px solid black;
    border-top: 1px solid black;
    transition: .12s cubic-bezier(0.295, 0.13, 0.685, 0.22);
}