.card{
    background-color: snow;
    width: 16rem;
    border: 3px solid black;
    margin: 5px;
    justify-content: center;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card:hover {
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.3);
    padding: 1px;
    cursor: pointer; 
    transition: 1s cubic-bezier(0.785, 0.135,0.15,0.86) 0s;
} 

.cardHeader {
    width: 95%;
    height: 2rem;
    border-radius: 15px;
    
}

.titleContainer {
    margin-top: 2px;
    background-color: lightgray;
    border-radius: 15px;
    width: 90%;
    
}

.title, .subTitle {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.title, .rentTitle{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: larger;
}

.titleContainer::after, .titleContainer::before {
    content: "";
    background: whitesmoke;
    height: .45rem;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}
.titleContainer::before {
    width: 85%;
    /* transform: translateX(10%); */
}
.titleContainer::after {
    margin-top: -5px;
    width: 45%;
    /* transform: translateX(60%); */
}

.cardBody {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyList {
    margin: 5px;
}
.cornerCard{
    border: 2px solid blue;
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.cornerCardInterior{
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3rem;
    padding: 1rem;
}

.mortaged:before {
    content: '';
    transform: rotate(40deg);
    height: 220px;
    width: 10px;
    margin-top: -15px;
    margin-left: 60px;
    background-color: red;
    display: block;
    position: absolute;
    z-index: 999;
}

.mortaged:after {
    content: '';
    transform: rotate(-40deg);
    height: 220px;
    width: 10px;
    margin-top: -195px;
    margin-left: 75px;
    background-color: red;
    display: block;
    position: absolute;
    z-index: 999; 
}

.rentList{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

/* Card Flip on Hover Effects */
.card, .front, .back{
    height: 210px;
    width: 18rem;
}

.card{
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;
    top:0;
    left:0;
    perspective: 1000px;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    transform : rotateY(180deg)
}

.font{
    transform: rotateY(0deg);
}
.back{
    transform: rotateY(180deg)
}



