.card{
    width: 16rem;
    border: 3px solid black;
    margin: 5px;
    justify-content: center;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
.card:hover {
    box-shadow: 6px 8px 16px 6px rgba(0, 0, 0, 0.3);
    padding: 1px;
    cursor: pointer;
  }
.cardHeader {
    width: 99%;
    height: 2rem;
    border-radius: 15px;
}

.titleContainer {
    background-color: lightgray;
}

.title, .subTitle {
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}

.title {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: larger;
}

.titleContainer::after, .titleContainer::before {
    content: "";
    background: whitesmoke;
    height: .45rem;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}
.titleContainer::before {
    width: 85%;
    transform: translateX(10%);
}
.titleContainer::after {
    margin-top: -5px;
    width: 45%;
    transform: translateX(60%);
}

.bodyList {
    list-style-type: none;
}

/* .title::after, .title::before {
    content: "";
    background: black;
    width: 65%;
    height: 1px;
    border-radius: 25px;
    display: inline-block;
} */