#picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

input {
  height: 15px;
  width: 100px;
  box-shadow:2px 2px 2px 2px black;
}
input[type=text]{
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 1rem;
}

button {
  background-color: none;
  box-shadow:2px 2px 2px 2px black;
  height: auto;
  width: auto;
}


#iconSearchContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}